.bodyContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
}

.cardsContainer {
	max-width: 1200px;
	display: flex;
	flex-wrap: wrap;
	/* flex-wrap: wrap;
	justify-content: center;
	align-items: stretch; */
}

.loadMore {
	width: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
	margin: 2rem 0;
	font-weight: 600;
	color: rgb(77, 155, 245);
}

.loadMore:hover {
	cursor: pointer;
}

.introText {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin-top: 1rem;
	font-weight: 600;
	font-size: 1.25rem;
}
