.bodyContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.cardsContainer {
	max-width: 1200px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
